# coding: utf-8

{{>partial_header}}

import pytest
import pytest_asyncio

from {{apiPackage}}.{{classFilename}} import {{classname}}  # noqa: E501
from openapi_client import ApiClient


@pytest_asyncio.fixture()
async def {{classFilename}}_client(api_client: ApiClient):
    api = {{classname}}(api_client=api_client)
    yield api


@pytest.mark.asyncio
class {{#operations}}Test{{classname}}:
    """{{classname}} unit test stubs"""

    {{#operation}}
    @pytest.mark.skip(reason="Generated stub test - implement assertions")
    async def test_{{operationId}}(self, {{classFilename}}_client: {{classname}}) -> None:
        """Test case for {{{operationId}}}

{{#summary}}
        {{{.}}}  # noqa: E501
{{/summary}}
        """

    {{/operation}}
{{/operations}}
