# coding: utf-8

{{>partial_header}}

import pytest

from {{apiPackage}}.{{classFilename}} import {{classname}}  # noqa: E501


class {{#operations}}Test{{classname}}:
    """{{classname}} unit test stubs"""

    async def setup_method(self) -> None:
        self.api = {{classname}}()

    async def teardown_method(self) -> None:
        await self.api.api_client.close()

    {{#operation}}
    @pytest.mark.asyncio
    async def test_{{operationId}}(self) -> None:
        """Test case for {{{operationId}}}

{{#summary}}
        {{{.}}}  # noqa: E501
{{/summary}}
        """
        pass

    {{/operation}}
{{/operations}}
