python_dateutil >= 2.9.0
setuptools >= 21.0.0
urllib3 >= 2.0.0
pydantic >= 2.0.0, < 3
aenum >= 3.1.17
{{#asyncio}}
aiohttp >= 3.10.0
{{/asyncio}}
{{#hasHttpSignatureMethods}}
pycryptodome >= 3.9.0
{{/hasHttpSignatureMethods}}
